<div class="container">
    <div>
        <h1>Accounts</h1>
        <table id="accounts-table">
            <tr>
                <th>Account ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Hashed Password</th>
                <th>Registration Date</th>
                <th>Last Login</th>
                <th>Active Status</th>
            </tr>
            {{#each accounts}}
            <tr account-id="{{this.accountID}}">
                <td>{{this.accountID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td>{{this.hashed_password}}</td>
                <td>{{this.registration_date}}</td>
                <td>{{this.last_login}}</td>
                <td>{{this.active_status}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div>
        <form id="add-account-form" method="post" action="/accounts/add">
            <fieldset>
                <legend>Add New Account</legend>
                <br>
                <p>
                    <label for="add-account-username">Username:</label>
                    <input type="text" id="add-account-username" name="username">
                </p>
                <p>
                    <label for="add-account-email">Email:</label>
                    <input type="email" id="add-account-email" name="email">
                </p>
                <p>
                    <label for="add-account-password">Password:</label>
                    <input type="password" id="add-account-password" name="hashed_password">
                </p>
                <p>
                    <label for="add-account-registration-date">Registration Date:</label>
                    <input type="date" id="add-account-registration-date" name="registration_date">
                </p>
                <p>
                    <label for="add-account-last-login">Last Login:</label>
                    <input type="datetime-local" id="add-account-last-login" name="last_login">
                </p>
                <p>
                    <label for="add-account-active-status">Active Status:</label>
                    <input type="checkbox" id="add-account-active-status" name="active_status" value="1">
                </p>
                <button type="submit">Add Account</button>
            </fieldset>
        </form>
    </div>
</div>