<h1>Classes</h1>
<table id="class-table">
    <tr>
        <th>Class ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {{#each classes}}
    <tr class-id="{{this.classID}}">
        <td>{{this.classID}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td><button onclick="editClass({{this.classID}})">Edit</button></td>
        <td><button onclick="deleteClass({{this.classID}})">Delete</button></td>
    </tr>
    {{/each}}
</table>
<div class="container">
    <div>
        <form method="post" action="/classes/add">
            <fieldset>
                <legend>Add New Class</legend>
                <br>
                <p>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </p>
                <p>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description"></textarea>
                </p>
                <button type="submit">Add Class</button>
            </fieldset>
        </form>
    </div>
    <div>
        <form id="update-class-form">
            <fieldset>
                <legend>Update Class</legend>
                <p>
                    <label for="update-class-id">Class:</label>
                    <select id="update-class-id" name="classID">
                        {{#each classes}}
                        <option value="{{this.classID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </p>
                <p>
                    <label for="update-class-name">Name:</label>
                    <input type="text" id="update-class-name" name="name">
                </p>
                <p>
                    <label for="update-class-description">Description:</label>
                    <textarea id="update-class-description" name="description"></textarea>
                </p>
                <button type="submit">Update</button>
            </fieldset>
        </form>
    </div>
</div>

<script src="./js/update_class.js"></script>
<script src="./js/delete_class.js"></script>