<h1>Guilds</h1>
<table>
    <tr>
        <th>Guild ID</th>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Actions</th>
    </tr>
    {{#each guilds}}
    <tr guild-id="{{this.guildID}}"></tr>
        <td>{{this.guildID}}</td>
        <td>{{this.name}}</td>
        <td>{{this.creation_date}}</td>
        <td>
            <button onclick="editGuild({{this.guildID}})">Edit</button>
            <button onclick="deleteGuild({{this.guildID}})">Delete</button>
        </td>
    {{/each}}
</table>

<div id="update-guild-form">
    <form>
        <fieldset>
            <legend>Update Guild</legend>
            <p>
                <label for="update-guild-id">Guild ID:</label>
                <select id="update-guild-id" name="guildID">
                    {{#each guilds}}
                        <option value="{{this.guildID}}">{{this.guildID}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                <label for="update-guild-name">Guild Name:</label>
                <select id="update-guild-name" name="Name">
                    {{#each guilds}}
                        <option value ="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </p>
            <button type="submit">Update Guild</button>
        </fieldset>
    </form>
</div>

<form id ="add-guild-form" method="post" action="/guilds/add">
    <fieldset>
        <legend>Add New Guild</legend>
        <p>
            <label for="add-guild">Name:</label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="creation_date">Creation Date:</label>
            <input type="date" id="creation_date" name="creation_date" value="{{getCurrentDate}}">
        </p>
        <button type="submit">Add Guild</button>
    </fieldset>
</form>