<h1>Guilds</h1>
<table id="guild-table">
    <tr>
        <th>Guild ID</th>
        <th>Name</th>
        <th>Creation Date</th>
        <th>Actions</th>
    </tr>
    {{#each guilds}}
    <tr guild-id="{{this.guildID}}">
        <td>{{this.guildID}}</td>
        <td>{{this.name}}</td>
        <td>{{this.creation_date}}</td>
        <td>
            <button onclick="editGuild({{this.guildID}})">Edit</button>
            <button onclick="deleteGuild({{this.guildID}})">Delete</button>
        </td>
    </tr>
    {{/each}}
</table>

<div id="update-guild-form">
    <form id="update-guild-form-content">
        <fieldset>
            <legend>Update Guild</legend>
            <p>
                <label for="update-guild-id">Guild ID:</label>
                <select id="update-guild-id" name="guildID">
                    {{#each guilds}}
                        <option value="{{this.guildID}}">{{this.guildID}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                <label for="update-guild-name">New Guild Name:</label>
                <input type="text" id="update-guild-name" name="name">
            </p>
            <button type="submit">Update Guild</button>
        </fieldset>
    </form>
</div>

<form id="add-guild-form" method="post" action="/guilds/add">
    <fieldset>
        <legend>Add New Guild</legend>
        <p>
            <label for="add-guild-name">Guild Name:</label>
            <input type="text" id="add-guild-name" name="name">
        </p>
        <p>
            <label for="creation_date">Creation Date:</label>
            <input type="date" id="creation_date" name="creation_date">
        </p>
        <button type="submit">Add Guild</button>
    </fieldset>
</form>

<script src="./js/update_guild.js"></script>
<script src="./js/delete_guild.js"></script>
